page-edit-profile {
    ion-content{
        text-align: justify
    }
    ion-avatar > img{
        width: 150px;
        margin: auto;
        border-radius: 50%

    }

    .inputProfile{
        text-align: left;
        margin: 20px;
    }

}
