page-search-premium {
    .bigPicture{
        height: 160px;
        width: 230px;
        margin-left: 1.2mm;
    }
    .firstRow{
        margin-left: -1.3mm;
    }
    .img1{
        padding-bottom: 2.5mm;
    }
}
