<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let s of search_data" class="grid_img" col-4 (click)="pressPhoto(s.id, s.username, s.profile_img, s.post_img)">
        <img [src]="s.post_img" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let s of search_dataAD" class="grid_img" (click)="pressPhotoAD(s.id, s.username, s.profile_img, s.post_img)">
        <img [src]="s.post_img" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>